<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gm.hosptial.mapper.appointinfoMapper">
  <resultMap id="BaseResultMap" type="com.gm.hosptial.pojo.appointinfo">
    <id column="PatientID" jdbcType="VARCHAR" property="patientid" />
    <result column="DoctorID" jdbcType="VARCHAR" property="doctorid" />
    <result column="hao" jdbcType="VARCHAR" property="hao" />
    <result column="number" jdbcType="VARCHAR" property="number" />
  </resultMap>
  <sql id="Base_Column_List">
    PatientID, DoctorID, hao, number
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from appointinfo
    where PatientID = #{patientid,jdbcType=VARCHAR}
  </select>

  <select id="select" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from appointinfo
    where DoctorID = #{doctorid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from appointinfo
    where PatientID = #{patientid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.gm.hosptial.pojo.appointinfo">
    insert into appointinfo (PatientID, DoctorID, hao,
      number)
    values (#{patientid,jdbcType=VARCHAR}, #{doctorid,jdbcType=VARCHAR}, #{hao,jdbcType=VARCHAR},
      #{number,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.gm.hosptial.pojo.appointinfo">
    insert into appointinfo
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="patientid != null">
        PatientID,
      </if>
      <if test="doctorid != null">
        DoctorID,
      </if>
      <if test="hao != null">
        hao,
      </if>
      <if test="number != null">
        number,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="patientid != null">
        #{patientid,jdbcType=VARCHAR},
      </if>
      <if test="doctorid != null">
        #{doctorid,jdbcType=VARCHAR},
      </if>
      <if test="hao != null">
        #{hao,jdbcType=VARCHAR},
      </if>
      <if test="number != null">
        #{number,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.gm.hosptial.pojo.appointinfo">
    update appointinfo
    <set>
      <if test="doctorid != null">
        DoctorID = #{doctorid,jdbcType=VARCHAR},
      </if>
      <if test="hao != null">
        hao = #{hao,jdbcType=VARCHAR},
      </if>
      <if test="number != null">
        number = #{number,jdbcType=VARCHAR},
      </if>
    </set>
    where PatientID = #{patientid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gm.hosptial.pojo.appointinfo">
    update appointinfo
    set DoctorID = #{doctorid,jdbcType=VARCHAR},
      hao = #{hao,jdbcType=VARCHAR},
      number = #{number,jdbcType=VARCHAR}
    where PatientID = #{patientid,jdbcType=VARCHAR}
  </update>
</mapper>