<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gm.hosptial.mapper.docleaveinfoMapper">
  <resultMap id="BaseResultMap" type="com.gm.hosptial.pojo.docleaveinfo">
    <result column="DoctorID" jdbcType="VARCHAR" property="doctorid" />
    <result column="LeaStaTime" jdbcType="INTEGER" property="leastatime" />
    <result column="LeaDayNum" jdbcType="INTEGER" property="leadaynum" />
    <result column="TimeStatus" jdbcType="INTEGER" property="timestatus" />
    <result column="tbDoctorID" jdbcType="VARCHAR" property="tbdoctorid" />
  </resultMap>
  <sql id="Base_Column_List">
    DoctorID, LeaStaTime, LeaDayNum,TimeStatus, tbDoctorID,Flag
  </sql>
  <select id="selectByPrimaryKey" parameterType="com.gm.hosptial.pojo.doctorinfo" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from docleaveinfo
    where DoctorID = #{doctorid,jdbcType=VARCHAR} and Flag = 0
  </select>
  <select id="select" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from docleaveinfo
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.gm.hosptial.pojo.docleaveinfo">
    delete from docleaveinfo
    where DoctorID=#{doctorid,jdbcType=VARCHAR}
     and LeaStaTime= #{leastatime,jdbcType=INTEGER} and LeaDayNum= #{leadaynum,jdbcType=INTEGER}
     and tbDoctorID= #{tbdoctorid,jdbcType=VARCHAR} and Flag = 0
  </delete>
  <insert id="insert" parameterType="com.gm.hosptial.pojo.docleaveinfo">
    insert into docleaveinfo (DoctorID, LeaStaTime, LeaDayNum,
      TimeStatus, tbDoctorID, Flag)
    values (#{doctorid,jdbcType=VARCHAR}, #{leastatime,jdbcType=INTEGER}, #{leadaynum,jdbcType=INTEGER},
      #{timestatus,jdbcType=INTEGER}, #{tbdoctorid,jdbcType=VARCHAR}, #{flag,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.gm.hosptial.pojo.docleaveinfo">
    insert into docleaveinfo
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="doctorid != null">
        DoctorID,
      </if>
      <if test="leastatime != null">
        LeaStaTime,
      </if>
      <if test="leadaynum != null">
        LeaDayNum,
      </if>
      <if test="timestatus != null">
        TimeStatus,
      </if>
      <if test="tbdoctorid != null">
        tbDoctorID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="doctorid != null">
        #{doctorid,jdbcType=VARCHAR},
      </if>
      <if test="leastatime != null">
        #{leastatime,jdbcType=INTEGER},
      </if>
      <if test="leadaynum != null">
        #{leadaynum,jdbcType=INTEGER},
      </if>
      <if test="timestatus != null">
        #{timestatus,jdbcType=INTEGER},
      </if>
      <if test="tbdoctorid != null">
        #{tbdoctorid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="update" parameterType="com.gm.hosptial.pojo.docleaveinfo">
     update docleaveinfo
      set
      DoctorID=#{doctorid,jdbcType=VARCHAR},
      LeaStaTime=#{leastatime,jdbcType=INTEGER},
      LeaDayNum#{leadaynum,jdbcType=INTEGER},
      TimeStatus=#{timestatus,jdbcType=INTEGER},
      tbDoctorID=#{tbdoctorid,jdbcType=VARCHAR}
    where DoctorID = #{doctorid,jdbcType=VARCHAR} and Flag = 0
  </update>
</mapper>