<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gm.hosptial.mapper.numberinfoMapper">
  <resultMap id="BaseResultMap" type="com.gm.hosptial.pojo.numberinfo">
    <id column="DoctorID" jdbcType="VARCHAR" property="doctorid" />
    <result column="Number" jdbcType="VARCHAR" property="number" />
    <result column="Sumnumber" jdbcType="INTEGER" property="sumnumber" />
  </resultMap>
  <sql id="Base_Column_List">
    DoctorID, Number, Sumnumber
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from numberinfo
    where DoctorID = #{doctorid,jdbcType=VARCHAR}
  </select>

  <select id="select" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from numberinfo
    where DoctorID = #{doctorid,jdbcType=VARCHAR}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from numberinfo
    where DoctorID = #{doctorid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.gm.hosptial.pojo.numberinfo">
    insert into numberinfo (DoctorID, Number, Sumnumber
      )
    values (#{doctorid,jdbcType=VARCHAR}, #{number,jdbcType=VARCHAR}, #{sumnumber,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.gm.hosptial.pojo.numberinfo">
    insert into numberinfo
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="doctorid != null">
        DoctorID,
      </if>
      <if test="number != null">
        Number,
      </if>
      <if test="sumnumber != null">
        Sumnumber,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="doctorid != null">
        #{doctorid,jdbcType=VARCHAR},
      </if>
      <if test="number != null">
        #{number,jdbcType=VARCHAR},
      </if>
      <if test="sumnumber != null">
        #{sumnumber,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.gm.hosptial.pojo.numberinfo">
   update numberinfo
    set
      Sumnumber = sumnumber+1
    where DoctorID = #{doctorid,jdbcType=VARCHAR}
    and Number = #{number,jdbcType=VARCHAR}

  </update>
  <update id="updateByPrimaryKey" parameterType="com.gm.hosptial.pojo.numberinfo">
    update numberinfo
    set
      Sumnumber = sumnumber-1
    where DoctorID = #{doctorid,jdbcType=VARCHAR}
    and Number = #{number,jdbcType=VARCHAR}
  </update>

  <update id="update" parameterType="com.gm.hosptial.pojo.numberinfo">
    update numberinfo
    set
      Sumnumber =#{sumnumber}

    where Number = #{number,jdbcType=VARCHAR}
  </update>
</mapper>